/* I feel like maybe this css is a bit clunky and
overdone. Please let me know if you have suggestions
on how to streamline it? */

/* I tried a whole lot of ways to get the background image to work properly
and this is what I finally settled on. */

html {
  background: url(./images/agave.jpg) no-repeat center center fixed;
  background-size: cover;
  width: auto;
  height: auto;
  background-color: black;
}

.header h1 {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #04816e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
/*figured out how to do some cool text outlining while playing around*/

.header h1 {
  font-size: 48px;
  border-bottom: 6px double #ffffff;
  min-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.header h2 div ul {
  padding-top: 15px;
  padding-bottom: 15px;
  /* margin-right: 20px; */
  /* float: right; originally was using float attributes and then switched to flex*/
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
}

/*this I added because the default for links is blue
and underlined. Didn't like that.*/
a:-webkit-any-link {
    color: #04816e ;
    cursor:cell;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.header h2 div ul li {

    margin-left: 30px;
    list-style: none;
}

.About-Me {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  transform: scale(1);
  }

.About-Me img {
border-radius: 50%; /*this allowed me to make my image a circle here*/
max-width: 250px;
max-height: 250px;
width: 100%;
margin: 0px 50px 50px;
@media 
  
}

.About-Me h3 {
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #04816e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-transform: uppercase
  display: block;
  margin: 100px 0 0;
}

.About-Me p {
  display: flex;
  justify-content: end;
  width:400px;
  height: auto;
  margin: 75px 75px 75px;
  padding: 10px 10px 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  background-color: #049b84;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 0px -1px rgba(3,79,89,1);
  -moz-box-shadow: 10px 10px 0px -1px rgba(3,79,89,1);
  box-shadow: 10px 10px 0px -1px rgba(3,79,89,1);
}

h4 {
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.image-gallery > li {
  flex-basis: 500px; /*actual size of the boxes */
}

.image-gallery li img {
  object-fit:cover;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 15px;
}

.image-gallery > li {
  /* in order to make the photos clickable in the image gallery */
  position: relative;
  cursor: pointer;
}

.overlay {
  /* This is controlling the clickable area */
  position:absolute;
  width: 100%;
  height: 100%; /*covers entire image area */
  background: rgba(0, 120, 136, 0.502);
  top: 0;
  left: 0;
  transform: scale(0); /*makes it only appear when hovered over */
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #07d3b4;
}

 /* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}
}

.Contact h5 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #04816e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Contact ul {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 10px 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;

}

.Resume{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #04816e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
/*used these media queries to change
the way the page looks at different sizes.
I couldn't get the box to just get fully smaller
so I have that part hide when it gets smaller. 
I'm sure there's a better way to do this.*/

@media screen and (max-width: 600px) {
  .About-Me img{
    width:150px;
    height:150px;
  }
}

@media screen and (max-width: 600px) {
  .About-Me h3 {
    display: none;
  }

@media screen and (max-width: 600px) {
  .About-Me p {
    display:none;
    }

/* .hero {
  height: 100vw;
  width: 100vh;
  margin-bottom: 25px;
  background-image: url(./images/chromaforest.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* 
.content {
  width: 50%;
  display: inline-block;
  margin-left: 20px;
  flex-wrap:wrap;
} */




/*some fancy stuff I tried that kind of worked but I couldn't
 get it to work the way I needed.*/


/* .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  }
  .bg img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
    h1 {
    /* z-index: 9999; set this to something high to push to foreground */
    /* padding: 5px 10px 0;
    margin-bottom: 0;
    border-bottom: 6px double #ffffff;
    clear: both;
    position:absolute; */
    /* min-width:100%; 100% to ensure it goes all the way to the end */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: #068a78;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;  */
     /* I got fancy with the Header font and added a shadow around it
    Played with colors, borders, sizing, etc.   */
   /* }  */

  /* .header div {
    z-index: 9999;
    display: block;
    padding: 10px 0 0;
    margin-bottom: 0;
    margin-left: 500px;
    clear: both;
    position:absolute;
    color: #068a78;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;  */
    /* I was having a lot of difficulty with this.
    I could not figure out how to get it to change color
    or not be underlined for some reason. */

/* }  */
